<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ assets }}/images/favicon/favicon.ico">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
    <title>{{ title }} | Project Name</title>
    {% block css %}

    {% endblock %}
    <link href="{{ assets }}/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container hidden-xs">
    <div class="navbar-logo">
        <a href="{{ base }}">Fwoot</a>
    </div>
    <div class="pull-right">
        <div class="search-area">
            <div class="search-area-container">
                <div class="fb pull-right">
                    <a href="https://www.facebook.com/gc50000" class="btn btn-primary"><i
                                class="fa fa-facebook-square"></i> GC5000 Facebook Page</a>
                </div>
                <div class="search-area-content">
                    <form role="form">
                        <div class="input-group margin-bottom-sm" style="width:250px">
                            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                            <input class="form-control" id="search-results" type="text" placeholder="Search Results">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/">Gold Coast 50000</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ menu=='home' ? 'active' : '' }}"><a href="{{ base }}">Home</a></li>
                <li class="{{ menu=='results' ? 'active' : '' }}"><a href="{{ base }}results">Results</a></li>
                <li class="{{ menu=='bestbird' ? 'active' : '' }}"><a href="{{ base }}bestbird">Best Bird</a></li>
                <li class="{{ menu=='syndicates' ? 'active' : '' }}"><a href="{{ base }}syndicates">Syndicates</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ base }}info/about">About The Race</a></li>
                        <li><a href="{{ base }}info/conditions">Conditions of Entry</a></li>
                        <li><a href="{{ base }}info/lostbirds">Lost Birds</a></li>
                        <li><a href="{{ base }}info/prizemoney">Prize Money</a></li>
                        <li><a href="{{ base }}info/payment">Payment Methods</a></li>
                        <li><a href="{{ base }}info/latepayment">Late Payment Plan</a></li>
                        <li><a href="{{ base }}info/raceteams">Race Teams Required</a></li>
                        <li><a href="{{ base }}info/reserves">Reserves</a></li>
                        <li><a href="{{ base }}info/training">Training and Racing</a></li>
                        <li><a href="{{ base }}info/illness">Illness or Injuries</a></li>
                        <li><a href="{{ base }}info/ownership">Ownership of Birds</a></li>
                        <li><a href="{{ base }}info/ets">Electronic Timing System</a></li>
                    </ul>
                </li>
                <li class="{{ menu=='contact' ? 'active' : '' }}"><a href="{{ base }}contact">Contact</a></li>
                <li class="{{ menu=='accommodation' ? 'active' : '' }}"><a
                            href="{{ base }}accommodation">Accommodation</a></li>
                <li class="visible-xs"><a href="https://www.facebook.com/gc50000">GC5000 Facebook Page</a></li>
            </ul>
        </div>
    </div>
</div>

{% block abovecontent %}

{% endblock %}
<div class="container">
    <div class="page-content">
        {% block content %}

        {% endblock %}
    </div>
</div>
<footer>
    <div class="container">
        <div class="text-center">
            Website Design and Hosting by Mick Rippon at pigeonrace.net
        </div>
    </div>
</footer>
{{ fw.inc("jquery.js, bootstrap.js, soup.js")|raw }}
{% block javascript %}

    <script>
        var base = "{{ base }}";
        $(document).ready(function () {
            var searchResults = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: '{{ base }}api/search/%QUERY'
            });
            searchResults.initialize();
            $('#search-results').typeahead(null, {
                name: 'search-results',
                displayKey: 'value',
                source: searchResults.ttAdapter(),
                templates: {
                    empty: [
                        '<div class="empty-message seg">',
                        'Nothing Found',
                        '</div>'
                    ].join('\n'),
                    suggestion: function (data) {
                        return "<div class='seg'><a href='" + data.ahref + "'>" + data.name + "</a></div>";
                        console.log(data);
                    }
                }
            });
        });
    </script>
{% endblock %}
</body>
</html>
